$transTime: 0.3s;

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;

  button {
    padding: 0.5rem 1rem;
    font-size: inherit;
    font-weight: bold;
    color: #087ea4;
    background: transparent;
    border: transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    transition: box-shadow $transTime, background $transTime;

    &:hover {
      background: #fafeff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 3px -1px, rgba(0, 0, 0, 0.3) 0px 1px 1px -1px;
    }

    &:disabled {
      color: rgba(8, 125, 164, 0.4);
      background: rgba(250, 254, 255, 0.4);
      box-shadow: rgba(50, 50, 93, 0.05) 0px 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
    }
  }

  section {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
}
