@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  color: #23272f;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  overflow: scroll;
}
